
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: rgb(95, 15, 52);
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #1c411d;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
